/* box sizing reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* margin and padding reset */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  background-image: url("images/background-image.png");
  background-repeat: no-repeat;
  height: 538px;
  width: 1440px;
  margin-bottom: 2px;
}

nav {
  width: 980px;
  display: grid;
  grid-template-columns: repeat(8, 1fr) 132px;
  grid-template-rows: 30px;
  margin: 15px 34.5px;
  border: 1px solid black;
  border-radius: 3px;
}

nav span,
nav div {
  width: auto;
  text-align: center;
  padding-top: 5px;
}

#search-bar {
  width: 106px;
  height: 20px;
  border-radius: 20px;
  font-family: FontAwesome;
}

/* aside */

#first-aside-image {
  background: url("images/promo_iphone5s.jpg");
}

#second-aside-image {
  background: url("images/promo_iphone5c.jpg");
}

#third-aside-image {
  background: url("images/promo_30_years.jpg");
}

#fourth-aside-image {
  background: url("images/promo_supplier_responsibility.jpg");
}

aside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  width: 1440px;
}

/* footer */